.wp-block-outermost-mega-menu {

    button {
        background-color: initial;
        border: none;
        color: currentColor;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-align: left;
        text-transform: inherit;
    }

    .wp-block-outermost-mega-menu__toggle {
        padding: 0;

        .wp-block-outermost-mega-menu__toggle-icon {
            align-self: center;
            display: inline-block;
            font-size: inherit;
            height: 0.6em;
            line-height: 0;
            margin-left: 0.25em;
            padding: 0;
            width: 0.6em;

            svg {
                stroke: currentColor;
                display: inline-block;
                height: inherit;
                margin-top: 0.075em;
                width: inherit;
                transition: all .1s linear;
                transform: rotate(-90deg);
            }
        }

        &[aria-expanded=true] {
            .wp-block-outermost-mega-menu__toggle-icon {    
                svg {
                    transform: rotate(0deg);
                }
            }

            &~.wp-block-outermost-mega-menu__menu-container {
                height: auto;
                max-width: var(--wp--style--global--content-size);
                opacity: 1;
                overflow: visible;
                visibility: visible;
                width: 100%;
            }
        }
    }
}
