// Front-end specific styles.
.wp-block-outermost-mega-menu__menu-container {
    height: auto;
    left: -1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 30px;
    transition: opacity .1s linear;
    visibility: hidden;
    z-index: 2;

    &.menu-width-content {
        max-width: var(--wp--style--global--content-size);
        width: var(--wp--style--global--content-size);
    }

    &.menu-width-wide {
        max-width: var(--wp--style--global--wide-size);
        width: var(--wp--style--global--wide-size);
    }

    &.menu-width-full {
        max-width: 100vw;
        width: 100vw;
    }

    .menu-container__close-button {
        align-items: center;
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        backdrop-filter: blur(16px) saturate(180%);
        background-color: #ffffffba;
        border: none;
        border-radius: 999999px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        opacity: 0;
        padding: 4px;
        position: absolute;
        right: 12px;
        text-align: center;
        top: 12px;
        transition: opacity .2s ease;
        z-index: 100;

        // Show the close button when focused (for keyboard navigation)
        &:focus {
            opacity: 1;
        }
    }

    // Show the close button when the mega menu is hovered.
    &:hover {
        .menu-container__close-button {
            opacity: 1;
        }
    }

    // This ensures navigation menu inside of mega menus display correctly.
    .is-responsive {
        display: flex;
    }
}

// Change the position of the menu depending on navigation alignment.
.wp-block-navigation {
    &.items-justified-right {
        .wp-block-outermost-mega-menu__menu-container {
          left: unset;
          right: -1px;
        }
    }

    &.items-justified-center,
    &.items-justified-space-between {
        .wp-block-outermost-mega-menu__menu-container {
            &.menu-width-content {
                left: calc( ( -1 * var(--wp--style--global--content-size) / 2 ) + 50% );
            }

            &.menu-width-wide {
                left: calc( ( -1 * var(--wp--style--global--wide-size) / 2 ) + 50% );
            }
        }
     }
}

// Change the position of the menu depending on the menu alignment (override Navigation block).
.wp-block-navigation { 
    .wp-block-outermost-mega-menu__menu-container {
        &.menu-justified-left {
            left: -1px;
            right: unset;
        }

        &.menu-justified-right {
            left: unset;
            right: -1px;
        }

        &.menu-justified-center {
            right: unset;

            &.menu-width-content {
                left: calc( ( -1 * var(--wp--style--global--content-size) / 2 ) + 50% );
            }

            &.menu-width-wide {
                left: calc( ( -1 * var(--wp--style--global--wide-size) / 2 ) + 50% );
            }
        }
    }
}

// If there is a collapsed link, start hidden.
.wp-block-outermost-mega-menu__collapsed-link {
    display: none;
}

// If a navigation modal is open, check if the mega menu should be displayed.
html.has-modal-open {
    .wp-block-outermost-mega-menu {
        &.disable-menu-when-collapsed {
            &:not(.has-collapsed-link) {
                display: none;
            }
    
            .wp-block-outermost-mega-menu__collapsed-link {
                display: inherit;
            }
    
            .wp-block-outermost-mega-menu__toggle, 
            .wp-block-outermost-mega-menu__menu-container {
                display: none;
            }
        }
    }
}